/* Large devices (laptops/desktops, <=1440px) */
body {
    background-color: $clr-bg;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    &-title {
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 700;
        color: $clr-primary;
    }
    &-subtitle {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 400;
        color: $clr-secondary;
    }
    &-title, &-subtitle {
        text-align: center;
        line-height: 1;
    }
    &-inner {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.tagline {
    font-size: 20px;
    font-weight: 500;
}
.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 8px;
}
.text-gradient {
    background: -webkit-linear-gradient(60deg, $simple-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    span {
        -webkit-text-fill-color: $clr-primary;
    }
}
.btn-hire {
    background-image: linear-gradient(45deg, $simple-gradient);    
    color: $clr-bg;
    font-weight: 300;
    &:hover {
        background-image: linear-gradient(230deg, $simple-gradient);
    }
}
.btn-theme {
    color: $clr-secondary;
}
/* HEADER */
.header {
    padding-top: 40px;
}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    &-link {
        font-weight: 500;
        font-size: 16px;
        color: $clr-secondary;
        &:hover {
            color: $clr-primary;
            border-bottom: 3px solid $clr-gradient-primary;
        }
    }
}
/* SECTION INTRO */
.intro-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    color: $clr-primary;
}
.intro-content_item {
    flex: 1;
}
.text-typing {
    display: block;
    width: 0;
    margin-bottom: 10px;
    border-right: 10px solid #2dc9c5;
    font-size: 20px;
    font-weight: 300;
    white-space:nowrap;
    overflow: hidden;
    animation: type 2s steps(30, end) 2000ms both, typing-move .7s step-end infinite;
}
@keyframes type {
    0% {width: 0;}
    100% {width: 130px;}
}
@keyframes typing-move {
    from, to { border-color: transparent }
    50% { border-color: $clr-primary }
}
.intro-title {
    margin-left: -2px;
    font-size: 55px;
    font-weight: 700;
    line-height: 1;
}
.intro-subtitle {
    max-width: 450px;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1;
}
.intro-btn > .btn {
    margin-bottom: 10px;
    border: 2px solid $clr-primary;
    font-size: 18px;
    color: $clr-primary;
    i {
        margin-right: 6px;
    }
}
.intro-btn > .btn:first-child {
    margin-right: 20px;
}
.intro-btn > p {
    font-size: 14px;
}
.intro-btn .btn-download {
    text-decoration: underline;
}
.intro-image {
    text-align: center;
    font-size: 20em;
}
/* SECTION ABOUT */
.about {
    background-color: #ffffff;
}
.about-content {
    display: flex;
}
.about-content_item {
    flex: 1;
}
.about-text {
    font-size: 18px;
    p {
    margin-bottom: 30px;
    line-height: 26px;
    }
}
.about-list {
    i {
        margin-right: 5px;
    }
}
.about-personality {
    margin-bottom: 15px;
    span {
        display: inline-block;
        width: 80px;
        font-weight: 500;
    }
}
.about-qualities {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    font-size: 16px;
    li {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }
}
.about-image {
    display: flex;
    justify-content: center;
}
/* SECTION STACK */
.stack {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        font-size: 60px;
    }
    &-item {
        margin-bottom: 30px;
        flex-basis: 20%;
        text-align: center;
    }
    &-item-unknown {
        color: $clr-secondary;
    }
}
/* SECTION WORKS */
.work {
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px 45px;
    }
    &-item {
        position: relative;
        border-radius: 15px;
        box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
    }
    &-img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        img {
            aspect-ratio: 4/3;
            -webkit-transform: scale(1);
	        transform: scale(1);
	        -webkit-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;
            object-fit: cover;
        &:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
        }
    }
    &-action {
        display: flex;
        justify-content: space-around;
        padding: 25px;
        a {
            text-decoration: underline;
        }
    }
    &-link {
        color: #000000;
        font-size: 16px;
        &:hover {
            text-decoration: none;
        }
    }
    &-link_icon {
        margin-right: 10px;
    }
    &-tags {
        position: absolute;
        left: 0;
        z-index: 1;
        padding: 5px 0 0 5px;
        span {
            padding: 5px 10px;
            background-image: linear-gradient(45deg, $simple-gradient);    
            color: $clr-bg;
            border-radius: 12px;
            font-size: 12px;
        }
    }
}
/* SECTION FOOTER */
.footer {
    &-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        color: $clr-primary;
    }
    &-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        .social-item {
            color: $clr-primary;
        }
    }
    &-nav {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        border-top: 2px solid rgba($clr-secondary, .3);
        .nav-link {
            font-size: 18px;
            color: $clr-primary;
        }
    }
}