$clr-primary: #42446E;
$clr-secondary: #666666;
$clr-dark-primary: #cccccc;
$clr-dark-secondary: #a7a7a7;
$clr-bg: #f5f5f5;
$clr-dark-bg: #191919;
$clr-gradient-primary: #13b0f5;
$clr-gradient-secondary: #e70faa;

$simple-gradient: $clr-gradient-primary, $clr-gradient-secondary;

@import 'fonts'; // Import fonts

html {
    scroll-behavior: smooth;
}

@import 'breakpoint-lg'; // <= 1440px
@import 'breakpoint-md'; // <= 1024px
@import 'breakpoint-sm'; // <= 834px
@import 'breakpoint-xs'; // <= 768px
