$clr-black: rgb(23, 24, 26);
$clr-white: #ffffff;
$clr-yellow: #ffe900;
$clr-blue__dark: #012838;
$clr-blue__light: #143d4f;

@import 'fonts';
@import 'styles';
@import 'breakpoints-xl'; /* > 1400px */
@import 'breakpoints-lg'; /* max-width: 1399px */ 
@import 'breakpoints-md'; /* max-width: 991px  */
@import 'breakpoints-sm'; /* max-width: 767px  */
@import 'breakpoints-xs'; /* max-width: 575px  */



